body {
  font-family: 'Open Sans', sans-serif;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row>.col,
.form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.align-self-start {
    align-self: flex-start !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.parent {
    justify-content: flex-start;
}

.person {
    justify-content: center;
}

.children {
    justify-content: flex-end;
}

.man, .woman {
    color: white !important;
}

.man {
    background-color: #347DC1 !important;
}

.woman {
    background-color: #CC6594 !important;
}

.born, .dead {
  height: 24px;
  width: 24px;
  background-size: contain;
}

.born {
  background-image: url(/static/baby.svg);
}

.dead {
  background-image: url(/static/dead.svg);
}

.header {
  display: flex;
  margin: auto;
}

.btn-margin :first-child, .btn-margin :last-child {
  margin: 0px 10px 0px 10px;
}
