{% extends "layout.html" %}

{% block title %}
Details
{% endblock %}

{% block main %}
<header class="navbar">
    <div>
        <a href="/tree" class="btn btn-secondary">HOME</a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            father:<br />{%if father_data is defined and father_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <th>lastname</th>
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ father_data[0].name }}</td>
                    <td>{{ father_data[0].lastname }}</td>
                    <td>{{ father_data[0].sex }}</td>
                    <td>{{ father_data[0].birth_date }}</td>
                    <td>{{ father_data[0].birth_place }}</td>
                    <td>{{ father_data[0].death_date }}</td>
                    <td>{{ father_data[0].death_place }}</td>
                    <td><a class="btn btn-secondary" href="/details?person_id={{father_data[0].father_id}}">Details</a>
                    </td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{father_data[0].father_id}}">Edit</a></td>
                </tr>
            </table>
            {% else %}
            <p>No data!</p>
            {% endif %}
            mother:<br />{%if mother_data is defined and mother_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <th>lastname</th>
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ mother_data[0].name }}</td>
                    <td>{{ mother_data[0].lastname }}</td>
                    <td>{{ mother_data[0].sex }}</td>
                    <td>{{ mother_data[0].birth_date }}</td>
                    <td>{{ mother_data[0].birth_place }}</td>
                    <td>{{ mother_data[0].death_date }}</td>
                    <td>{{ mother_data[0].death_place }}</td>
                    <td><a class="btn btn-secondary" href="/details?person_id={{mother_data[0].mother_id}}">Details</a>
                    </td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{mother_data[0].mother_id}}">Edit</a></td>
                </tr>
            </table>
            {% else %}
            <p>No data!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto">
            person:<br />{%if person_data is defined and person_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <th>lastname</th>
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ person_data[0].name }}</td>
                    <td>{{ person_data[0].lastname }}</td>
                    <td>{{ person_data[0].sex }}</td>
                    <td>{{ person_data[0].birth_date }}</td>
                    <td>{{ person_data[0].birth_place }}</td>
                    <td>{{ person_data[0].death_date }}</td>
                    <td>{{ person_data[0].death_place }}</td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{person_data[0].id}}">Edit</a></td>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row" style="justify-content: flex-end;">
        <div class="col-md-auto">
            children:<br />

            {%if child_data is defined and child_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <th>lastname</th>
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for id in child_data %}
                <tr>
                    <td>{{ id.name }}</td>
                    <td>{{ id.lastname }}</td>
                    <td>{{ id.sex }}</td>
                    <td>{{ id.birth_date }}</td>
                    <td>{{ id.birth_place }}</td>
                    <td>{{ id.death_date }}</td>
                    <td>{{ id.death_place }}</td>
                    <td><a class="btn btn-secondary" href="/details?person_id={{id.person_id}}">Details</a></td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{id.person_id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No data!</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
