{% extends "layout.html" %}

{% block title %}
Details
{% endblock %}

{% block main %}
<header class="navbar">
    <div>
        <a href="/tree" class="btn btn-secondary">HOME</a>
    </div>
</header>

<div class="container">
    <div class="row parent">
        <div class="col-md-auto">
            parents:<br />
            {% if father_data or mother_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <!-- <th>lastname</th> -->
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                    <th></th>
                </tr>
                {%if father_data is defined and father_data %}
                <tr>
                    <td><a class="btn btn-secondary man" href="/details?person_id={{father_data.father_id}}">{{ father_data.name }}&nbsp;{{ father_data.lastname }}</a></td>
                    <td>{{ father_data.sex }}</td>
                    <td>{{ father_data.birth_date }}</td>
                    <td>{{ father_data.birth_place }}</td>
                    <td>{{ father_data.death_date }}</td>
                    <td>{{ father_data.death_place }}</td>
                    <!-- <td><a class="btn btn-secondary" href="/details?person_id={{father_data.father_id}}">Details</a></td> -->
                    <td><a class="btn btn-secondary" href="/edit?person_id={{father_data.father_id}}">Edit</a></td>
                </tr>
                {% endif %}
                {%if mother_data is defined and mother_data %}
                <tr>
                    <td><a class="btn btn-secondary woman" href="/details?person_id={{mother_data.mother_id}}">{{ mother_data.name }}&nbsp;{{ mother_data.lastname }}</a></td>
                    <td>{{ mother_data.sex }}</td>
                    <td>{{ mother_data.birth_date }}</td>
                    <td>{{ mother_data.birth_place }}</td>
                    <td>{{ mother_data.death_date }}</td>
                    <td>{{ mother_data.death_place }}</td>
                    <!-- <td><a class="btn btn-secondary" href="/details?person_id={{mother_data.mother_id}}">Details</a> -->
                    </td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{mother_data.mother_id}}">Edit</a></td>
                </tr>
                {% endif %}
            </table>
            {% else %}
            <p>No data!</p>
            {% endif %}
            {% if not father_data or not mother_data %}
            <p><a href="/add_parent?person_id={{person_data.id}}">Add parent</a></p>
            {% endif %}
        </div>
    </div>
    <div class="row person">
        <div class="col-md-auto">
            person:<br />{%if person_data is defined and person_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <th>lastname</th>
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ person_data.name }}</td>
                    <td>{{ person_data.lastname }}</td>
                    <td>{{ person_data.sex }}</td>
                    <td>{{ person_data.birth_date }}</td>
                    <td>{{ person_data.birth_place }}</td>
                    <td>{{ person_data.death_date }}</td>
                    <td>{{ person_data.death_place }}</td>
                    <td><a class="btn btn-secondary" href="/edit?person_id={{person_data.id}}">Edit</a></td>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row children">
        <div class="col-md-auto">
            children:<br />

            {%if child_data is defined and child_data %}
            <table class="table table-striped">
                <tr class="thead-light">
                    <th>name</th>
                    <!-- <th>lastname</th> -->
                    <th>sex</th>
                    <th>birthday date</th>
                    <th>birthday place</th>
                    <th>death date</th>
                    <th>death place</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for id in child_data %}
                <tr>
                    <td><a class="btn btn-secondary {% if id.sex == 'male' %}man{% endif %}{% if id.sex == 'female' %}woman{% endif %}" href="/details?person_id={{id.person_id}}">{{ id.name }}&nbsp;{{ id.lastname }}</a></td>
                    <td>{{ id.sex }}</td>
                    <td>{{ id.birth_date }}</td>
                    <td>{{ id.birth_place }}</td>
                    <td>{{ id.death_date }}</td>
                    <td>{{ id.death_place }}</td>
                    <!-- <td><a class="btn btn-secondary" href="/details?person_id={{id.person_id}}">Details</a></td> -->
                    <td><a class="btn btn-secondary" href="/edit?person_id={{id.person_id}}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No data!</p>
            {% endif %}
            {% if not child_data %}
            <p><a href="/add_child?person_id={{person_data.id}}">Add child</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
