{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <header class="navbar">
        <div>
            <a href="/tree" class="btn btn-secondary">HOME</a>
        </div>
        {{ person_data }}<br />{{ person_data[0] }}
    </header>
    <form action="/edit" method="post">
        <input name="person_id" type="hidden" value="{{ person_id }}">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input autofocus class="form-control" name="name" placeholder="name" type="text" value="{{ person_data[0].name}}" autocomplete="given-name">
            </div>
            <div class="form-group col-md-4">
                <label for="lastname">Lastname</label>
                <input class="form-control" name="lastname" placeholder="lastname" type="text" value="{{ person_data[0].lastname}}" autocomplete="family-name">
            </div>
            <div class="form-group col-md-auto">
                <label for="sex">Sex</label>
                <select class="form-select" name="sex" required='required'>
                    <option value="{{ person_data[0].sex}}" selected>{{ person_data[0].sex}}</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-auto">
                <label for="birth_date">Birth date</label>
                <input class="form-control" name="birth_date" id="birth_date" placeholder="birth_date" type="date" value="{{ person_data[0].birth_date}}">
            </div>
            <div class="form-group col-6">
                <label for="birth_place">Birth place</label>
                <input class="form-control" name="birth_place" id="birth_place" placeholder="birth_place" type="text" value="{{ person_data[0].birth_place}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-auto">
                <label for="death_date">Death date</label>
                <input class="form-control" name="death_date" id="death_date" placeholder="death_date" type="date" value="{{ person_data[0].death_date}}">
            </div>
            <div class="form-group col-6">
                <label for="death_place">Death place</label>
                <input class="form-control" name="death_place" id="death_place" placeholder="death_place" type="text" value="{{ person_data[0].death_place}}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-auto">
                <label for="father_id">Father</label>
                <select class="form-select" name="father_id" id="father_id">
                    {%if father is defined and father %}
                        <option value="{{ father[0].id }}" selected>{{ father[0].name }} {{ father[0].lastname }}</option>
                    {% else %}
                        <option value="" disabled selected>Select father</option>
                    {% endif %}
                    {% for id in man %}
                        <option value="{{ id.id }}">{{ id.birth_date }} {{ id.name }} {{ id.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-auto">
                <label for="mother_id">Mother</label>
                <select class="form-select" name="mother_id" id="mother_id">
                    {%if mother is defined and mother %}
                        <option value="{{ mother[0].id }}" selected>{{ mother[0].name }} {{ mother[0].lastname }}</option>
                    {% else %}
                        <option value="" disabled selected>Select mother</option>
                    {% endif %}
                    {% for id in woman %}
                        <option value="{{ id.id }}">{{ id.birth_date }} {{ id.name }} {{ id.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
