{% extends "layout.html" %}

{% block title %}
    Front
{% endblock %}

{% block main %}
    <div class="container">
        <h1>FamilyTree</h1>
        <div class="row">
            <div class="col">
                <img src="/static/tree.svg"> 
            </div>
            <div class="col">
                <p>
                    From Wikipedia, the free encyclopedia
                </p>
                <p>
                    Genealogy (from Ancient Greek γενεαλογία (genealogía) 'the making of a pedigree') is the study of families, family history, and the tracing of their lineages. Genealogists use oral interviews, historical records, genetic analysis, and other records to obtain information about a family and to demonstrate kinship and pedigrees of its members. The results are often displayed in charts or written as narratives. The field of family history is broader than genealogy, and covers not just lineage but also family and community history and biography.
                </p>
                <p>
                    The record of genealogical work may be presented as a "genealogy", a "family history", or a "family tree". In the narrow sense, a "genealogy" or a "family tree" traces the descendants of one person, whereas a "family history" traces the ancestors of one person, but the terms are often used interchangeably. A family history may include additional biographical information, family traditions, and the like.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
