{% extends "layout.html" %}

{% block title %}
Tree
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <td>name</td>
            <td>birthday date</td>
            <td>birthday place</td>
            <td>death date</td>
            <td>death place</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for id in user_data %}
        <tr>
            <td><a class="btn btn-secondary {{ id.sex }}" href="/details?person_id={{id.id}}">{{ id.name }} {{ id.lastname }}</a></td>
            <td>{{ id.birth_date }}</td>
            <td>{{ id.birth_place }}</td>
            <td>{{ id.death_date }}</td>
            <td>{{ id.death_place }}</td>
            <td><a href="/edit?person_id={{id.id}}" class="btn btn-secondary">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
